body {
    background-color: lightslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.puzzle {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    oborder: 1px dotted blue;
}

.tile {
    margin: 0px;
    padding: 10px;
    min-width: 33%;
    min-height: 33%;
    border: 1px dotted grey;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.tile:hover {
    background-color: lightsteelblue;
}

h1, h6 {
    text-align: center;
}

.green {
    background-color: green;
}
