body {
    background-color: lightslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.card-footer {
    text-align: center;
}


.box {
    margin: 50px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.puzzle {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}

.tile {
    margin: 5px;
    padding: 10px;
    min-width: 30%;
    min-height: 33%;
    border: 3px solid lightslategrey;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.tile:hover {
    background-color: lightsteelblue;
}

#tile0:hover {
    background-color: white;
    cursor:default;
}

.blankTile {
    border: none;
}

h1, h6 {
    text-align: center;
}
