body {
    background-color: rgb(57, 78, 62);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-footer {
    text-align: center;
}


.box {
    margin: 50px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mama {
    border: 5px solid #333;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 75px rgb(212, 212, 212));
    background-color: #ddd;
}

.puzzle {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}

.tile {
    margin: 5px;
    width: 90px;
    height: 90px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #ccc;
}

.tile:hover {
    background-color: #eee;
}


.blankTile {
    background-color: #ddd;;
    border: none;
}

.numTile {
    border: 2px solid grey;
    border-radius: 5px;
}

#tile0:hover {
    background-color: #ddd;
    cursor: default;
    filter: none;
}

#moveCount, #timeLapse {
    padding: 5px;
    border-radius: 5px;
}

h1, h4 {
    letter-spacing: 1px;
    text-align: center;
}

h6 {

    letter-spacing: 1px;
    text-align: center;
    font-style: italic;
}

button {
    margin: 10px auto;
    width: 95%;
    font-style: italic;
}